<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Insert title here</title>
		<link rel="stylesheet" th:href="@{/css/user.css}">
		<th:block th:replace="fragments/config :: configFragment"></th:block>
	</head>
	<body>
		<div id="trip_wrap">
			<div class="frame">
				<div th:replace="fragments/header :: menu"></div>
				<section class="edit_contents">
					<div class="edit_lists">
						<h3>내 정보</h3>
						<div>
							<a th:href="@{/users/edit/{id}(id=${#authentication.principal.user.id})}">회원정보 수정</a>
							<a th:href="@{/users/edit/password/{id}(id=${#authentication.principal.user.id})}">비밀번호 변경</a>
							<a th:href="@{/users/delete/{id}(id=${#authentication.principal.user.id})}" style="font-weight: 500">회원 탈퇴</a>
						</div>
					</div>
					<div class="edit_input_area">
						<h1>회원 탈퇴</h1>
						<h3>회원 탈퇴 신청하기 전에 확인해 주세요.</h3>
						<div class="delete_content">
							<h3>회원 탈퇴 시 게시물 관리</h3>
							<div class="delete_text">
								회원탈퇴 후 여행일기 서비스에 입력한 게시물 및 댓글은 삭제되지 않으며,<br> 
								회원정보 삭제로 인해 작성자 본인을 확인할 수 없으므로 게시물 편집 및 <br>
								삭제 처리가 원천적으로 불가능 합니다. 게시물 삭제를 원하시는 경우에는 <br>
								먼저 해당 게시물을 삭제 하신 후, 탈퇴를 신청하시기 바랍니다.
							</div>
						</div>
						<form th:action="@{/users/delete/{id}(id=${#authentication.principal.user.id})}" method="post" class="delete_form">
							<div class="check_content">
								<input type="checkbox" id="checked" name="checked">
								<label>위 내용을 모두 확인하였습니다. <span>필수</span></label>
							</div>
							<button class="delete_btn" type="button">회원 탈퇴</button>
						</form>
					</div>
				</section>
			</div>
		</div>
		<script th:inline="javascript">
			$(".delete_btn").on("click", function() {
				var check = $("#checked").prop("checked");
				if(check) {
					var result = confirm("탈퇴하시겠습니까?");
					if(result) {
						$(".delete_form").submit();
					}
				} else {
					alert("체크박스를 선택해주세요.");
				}
			})
		
		</script>
	</body>
</html>