<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Insert title here</title>
		<link rel="stylesheet" th:href="@{/css/user.css}">
		<th:block th:replace="fragments/config :: configFragment"></th:block>
	</head>
	<body>
		<div id="trip_wrap">
			<div class="frame">
				<div th:replace="fragments/header :: menu"></div>
				<section class="edit_contents">
					<div class="edit_lists">
						<h3>내 정보</h3>
						<div>
							<a th:href="@{/users/edit/{id}(id=${#authentication.principal.id})}" style="font-weight: 500">회원정보 수정</a>
							<a th:href="@{/users/edit/password/{id}(id=${#authentication.principal.id})}">비밀번호 변경</a>
							<a th:href="@{/users/delete/{id}(id=${#authentication.principal.id})}">회원 탈퇴</a>
						</div>
					</div>
					<div class="edit_input_area">
						<h1>회원정보 수정</h1>
						<div class="edit_img">
							<div class="img_area">
								<img alt="" th:src="@{/images/upload/user/} + ${userDTO.profile_image}" id="profile_img"/>
							</div>
							<label for="file">프로필 사진 바꾸기</label>
							<div class="file_delete_btn" th:if="${userDTO.profile_image!='profile.png'}">프로필 사진 삭제</div>
							<form enctype="multipart/form-data" role="presentation" id="profile_form">
								<input type="file" name="file" id="file">
							</form>
						</div>
						<form th:action="@{/users/edit/} + ${userDTO.id}" th:method="put" id="edit_form">
							<div class="edit_input">
								<div class="edit">
									<div class="input_label">이메일</div>
									<div class="readonly_data" th:text="${userDTO.email}"></div>
								</div>
								<div class="edit">
									<div class="input_label">이름</div>
									<div class="readonly_data" th:text="${userDTO.name}"></div>
								</div>
								<div class="edit">
									<div class="input_label">닉네임</div>
									<label for="nickname">
										<input type="text" name="nickname" id="nickname" class="input" th:value="${userDTO.nickname}">
										<div class="edit_warn nickname_warn"></div>
									</label>
								</div>
								<div class="edit edit_introduce">
									<div class="input_label">소개</div>
									<label for="nickname">
										<textarea name="introduce" th:value="${userDTO.introduce}" th:text="${userDTO.introduce}"></textarea>
									</label>
								</div>
							</div>
						<button class="edit_btn" type="button">회원정보 수정</button>
						</form>
					</div>
				</section>
			</div>
		</div>
		<script th:inline="javascript">
		
			var nicknameResult = 0;	
			var id = /*[[${userDTO.id}]]*/
			
			$("#file").on("change", function() {
				fileEdit();					
			});
			
			$(".file_delete_btn").on("click", function() {
				fileDelete();
			})
			
			var myNickname = /*[[${userDTO.nickname}]]*/
			
			$("#nickname").on("propertychange change keyup paste input", function() {
				var edit = $("#nickname").val();
				if(edit != "") {
					nicknameCheck(edit);
					if(nicknameResult == 0) {
						$("#nickname").css('border', '2px solid #C4DFFF');
						$(".nickname_warn").text("");
					} else if(nicknameResult == 1) {
						$(".nickname_warn").css('color', '#D3728E');
						$(".nickname_warn").text("이미 사용중인 닉네임입니다.");
						$("#nickname").css('border', '2px solid #D3728E');
					} else if(nicknameResult == 2) {
						$(".nickname_warn").css('color', '#D3728E');
						$(".nickname_warn").text("2자 이상 10자 이하로 입력해주세요.");
						$("#nickname").css('border', '2px solid #D3728E');
					} 
				} else {
					$("#nickname").css('border', '2px solid #C4DFFF');
					$(".nickname_warn").text("");
				}
			})
			
			$("#nickname").on("blur", function() {
				if(nicknameResult == 0) {
					$("#nickname").css('border', '2px solid #D9D9D9');
				}
			})
			
			$("#nickname").on("focus", function() {
				if(nicknameResult == 0) {
					$("#nickname").css('border', '2px solid #C4DFFF');
				}
			})
			
			$(".edit_btn").on("click", function() {
				var edit = $("#nickname").val();
				if(edit.length == 0) {
					$("#nickname").val(myNickname);
				}
				$("#edit_form").submit();
			})
			
			
			function fileEdit() {
				var formData = new FormData($("#profile_form")[0]);
				
				$.ajax({
					url : "/users/edit/file/"+id, 
					type : "PUT",
					data : formData,
					processData: false,
		            contentType: false,
					success : function(fileName) {
						$("#profile_img").attr("src", "/images/upload/user/"+fileName.trim());
						$(".file_delete_btn").show();
					},
					error : function(jqXHR, textStatus, errorThrown) {
						console.log("ERROR : " + textStatus + " : " + errorThrown);
					}
				})
			}
			
			function fileDelete() {
				$.ajax({
					url : "/users/edit/deleteFile/"+id,
					type : "PUT",
					success : function(result) {
						if(result) {
							console.log("프로필 삭제");
							$("#profile_img").attr("src", "/images/upload/user/profile.png");
							$(".file_delete_btn").hide();
						} else {
							alert("프로필 사진이 삭제되지 못했습니다.");
						}
					},
					error : function(jqXHR, textStatus, errorThrown) {
						console.log("ERROR : " + textStatus + " : " + errorThrown);
					}
				})
			}
			
			function nicknameCheck(nickname) {
				$.ajax({
					url : "/users/edit/nicknameCheck/"+id,
					type : "POST",
					async : false,
					data : {nickname:nickname},
					success : function(check) {
						nicknameResult = check;
					}
				})
			}
		
		</script>
	</body>
</html>