<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Insert title here</title>
		<link rel="stylesheet" th:href="@{/css/user.css}">
		<th:block th:replace="fragments/config :: configFragment"></th:block>
	</head>
	<body>
		<div>
			<div id="trip_wrap">
				<div class="frame">
					<div class="logo_contents">
						<div class="contents">
							<div class="logo" th:onclick="'location.href=\''+ @{/} + '\''">
								<img alt="" th:src="@{/icons/logo_icon.png}" />
							</div>
						</div>
					</div>
					<div class="join_contents">
						<div class="contents">
							<div class="join_text">
								<h2>회원가입</h2>
							</div>
							<div class="social_join">
								<h3>SNS 계정으로 간편하게 회원가입</h3>
								<div class="social_icons">
									<a href="/oauth2/authorization/naver">
										<img th:src="@{/icons/naver_login.png}" />
									</a>
									<a href="https://kauth.kakao.com/oauth/authorize?client_id=69e1593ec2fbbf39b11fa2c6e3e8c000&redirect_uri=http://localhost/users/login/oauth2/code/kakao&response_type=code">
										<img th:src="@{/icons/kakao_login.png}" />
									</a>
									<a href="/oauth2/authorization/google">
										<img th:src="@{/icons/google_login.png}" />
									</a>
								</div>
							</div>
							<form th:action="@{/users/join}" th:object="${userDTO}" method="post">
								<div class="email_join">
									<div class="join_input">
										<div class="input_label">이메일</div>
										<label for="email">
											<input type="text" name="email" id="email" class="input">
										</label>
										<div class="join_warn email_warn"></div>
									</div>
									<button type="button" class="mail_code_btn" disabled="disabled">이메일 인증하기</button>
									<div class="open_join" style="display: none;">
										<div class="code_text">이메일로 전송된 인증 코드를 입력해주세요.</div>
										<div class="code_input">
											<input type="text" name="code" id="code" class="code">
											<button type="button" class="code_btn" disabled="disabled">확인</button>
										</div>
									</div>
									<div class="join_input">
										<div class="input_label">비밀번호</div>
										<label for="password">
											<input type="password" name="password" id="password" class="input">
										</label>
										<div class="join_warn password_warn"></div>
									</div>
									<div class="join_input">
										<div class="input_label">비밀번호 확인</div>
										<label for="passwordCheck">
											<input type="password" name="passwordCheck" id="passwordCheck" class="input">
										</label>
										<div class="join_warn passwordCheck_warn"></div>
									</div>
									<div class="join_input">
										<div class="input_label">이름</div>
										<label for="name">
											<input type="text" name="name" id="name" class="input">
										</label>
										<div class="join_warn name_warn"></div>
									</div>
									<div class="join_input">
										<div class="input_label">닉네임</div>
										<label for="nickname">
											<input type="text" name="nickname" id="nickname" class="input" >
										</label>
										<div class="join_warn nickname_warn"></div>
									</div>
								</div>
								<div class="clause">
									<div class="clause_name">약관동의</div>
									<div class="checkbox_area">
										<div class="join_agreeAll">
											<div class="sect_agree">
												<input type="checkbox" class="agree input" name="agreeAll" id="agreeAll">
												<label class="all_txt">
													전체 동의
												</label>
											</div>
										</div>
										<div class="join_agree">
											<div class="sect_agree">
												<input type="checkbox" class="agree agree_num input" name="agree1" id="agree1">
												<label class="clause_txt">
													만 14세 이상입니다.
													<span class="essential">(필수)</span>
												</label>
											</div>
											<div class="sect_agree">
												<input type="checkbox" class="agree agree_num input" name="agree2" id="agree2">
												<label for="agree2"></label>
												<label class="clause_txt" for="agree2">
													이용약관
													<span class="essential">(필수)</span>
												</label>
											</div>
											<div class="sect_agree">
												<input type="checkbox" class="agree agree_num input" name="agree3" id="agree3">
												<label class="clause_txt">
													개인정보수집 및 이용동의
													<span class="essential">(필수)</span>
												</label>
											</div>
											<div class="sect_agree">
												<input type="checkbox" class="agree agree_num input" name="agree4" id="agree4">
												<label class="clause_txt">
													개인정보 마케팅 활용 동의
													<span class="choice">(선택)</span>
												</label>
											</div>
										</div>
									</div>
								</div>
								<button class="join_btn" type="submit" disabled="disabled">회원가입</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			var emailPass = false;
			var pwPass = false;
			var pwCheckPass = false;
			var namePass = false;
			var nicknamePass = false; 
			var check = false;
			var mailCode;
			
			 /* 메일 중복, 유효성 검사 체크 */
			$("#email").on("propertychange change keyup paste input", function() {
				var email = $("#email").val();
				if(email == "") {	
					inputData('email');
					$(".mail_code_btn").prop('disabled', true);
					$(".open_join").hide();
					emailPass = false;
				} else {
					emailCheck(email);
				}
			})
			
			/* 인증하기 버튼 누르면 메일 보내고 작성한 인증번호와 메일로 받은 인증번호가 일치하면 확인버튼 활성화  */
			$(".mail_code_btn").on("click", function() {
				var email = $("#email").val();
				var mailCode = sendEmail(email);
				$(".open_join").show();
				
				$("#code").on("propertychange change keyup paste input", function() {					
					var code = $("#code").val();
					if(code == mailCode) {
						$(".code_btn").prop('disabled', false);
					} else {
						$(".code_btn").prop('disabled', true);
					}
				})
			})			
			
			/* 확인 버튼 누르면 인증번호 입력란은 readonly */
			$(".code_btn").on("click", function() {
				$(".email_warn").text("이메일이 인증되었습니다.");
				$(".code_btn").prop('disabled', true);
				$("#code").attr('readonly', true);
				emailPass = true;
			})
			
			
			/* 닉네임 중복, 유효성 검사 체크 */
			$("#nickname").on("propertychange change keyup paste input", function() {
				var nickname = $("#nickname").val();
				if(nickname == "") {
					inputData('nickname');
					nicknamePass = false;
				} else {		
					nicknameCheck(nickname);
				}
			})
			
			 /* 비밀번호 유효성 검사, 비밀번호 확인과 일치 체크 */
			$("#password").on("propertychange change keyup paste input", function() {	
				var password = $("#password").val();
				var passwordCheck = $("#passwordCheck").val();
				
				if(password.length == 0) {	
					inputData('password');	
					pwPass = false;
				} else {		
					passwordReg(password);
					if(passwordCheck.length != 0) {
						passwordMatch(password, passwordCheck);
					}
				}
			})
			
			/* 비밀번호와 비밀번호 확인 일치 체크 */
			$("#passwordCheck").on("propertychange change keyup paste input", function() {
				var password = $("#password").val();
				var passwordCheck = $("#passwordCheck").val();
				
				if(passwordCheck.length == 0) {
					inputData('passwordCheck');
					pwCheckPass = false;
				} else {
					passwordMatch(password, passwordCheck);
				}
			})
			
			 /* 이름 입력 여부 확인 */
			$("#name").on("propertychange change keyup paste input", function() {
				var name = $("#name").val();
				if(name.length == 0) {
					inputData('name');
					namePass = false;
				} else {
					namePass = true;
					$(".name_warn").text("");
					$("#name").css('border', '2px solid #7286D3');
				}
			})
			
			/* 약관 전체 동의 버튼 선택 시 */
			$("#agreeAll").on("change", function() {
				
				if($("#agreeAll").prop('checked')) {
					$(".agree_num").prop('checked', true);
					check = true;
				} else {
					$(".agree_num").prop('checked', false);
					check = false;
				}
			})
			
			/* 약관 개별로 선택했을 때의 체크 박스 */
			$(".agree").on("change", function() {
				if($("#agree1").prop('checked') && $("#agree2").prop('checked') && $("#agree3").prop('checked') && $("#agree4").prop('checked')) {
					$("#agreeAll").prop('checked', true);
				} else if($("#agree1").prop('checked') && $("#agree2").prop('checked') && $("#agree3").prop('checked')){
					check = true;
				} else {
					$("#agreeAll").prop('checked', false);
					check = false;
				}
			})
			
			/* input 요소들 모두 true가 되면 버튼 disabled 해제 */
			$(".input").on("input change", function() {
				if(emailPass && pwPass && pwCheckPass && namePass && nicknamePass && check) {
					$(".join_btn").prop('disabled', false);
				} else {
					$(".join_btn").prop('disabled', true);
				}
			})
			
			
			/* input의 value가 빈 칸일 때 */
			function inputData(data) {
				$('.' + data + '_warn').css('color', '#D3728E');
				$('.' + data + '_warn').text("필수 입력 사항입니다.");
				$('#' + data).css('border', '2px solid #D3728E');
			}
			
			/* 이메일 중복 확인 함수 */
			function emailCheck(email) {
				$.ajax({
					url : "/users/emailCheck",
					type : "POST",
					data : {email : email},
					success : function(check) {
						if(check == 0) {
							$(".email_warn").css('color', '#7286D3');
							$(".email_warn").text("사용 가능한 이메일입니다.");
							$("#email").css('border', '2px solid #7286D3');
							$(".mail_code_btn").prop('disabled', false);
						} else if(check == 1){
							$(".email_warn").css('color', '#D3728E');
							$(".email_warn").text("이미 가입되어 있는 이메일입니다.");
							$("#email").css('border', '2px solid #D3728E');
							$(".mail_code_btn").prop('disabled', true);
							$(".open_join").hide();
							emailPass = false;
						} else {
							$(".email_warn").css('color', '#D3728E');
							$(".email_warn").text("유효하지 않은 이메일입니다.");
							$("#email").css('border', '2px solid #D3728E');
							$(".mail_code_btn").prop('disabled', true);
							$(".open_join").hide();
							emailPass = false;
						}
					},
					error : function(jqXHR, textStatus, errorThrown) {
						console.log("ERROR : " + textStatus + " : " + errorThrown);
					}
				});
			}

			/* 메일 인증 번호 보내기 */
			function sendEmail(email) {
				var emailCode;
				
				$.ajax({
					url : "/send-mail/email",
					type : "POST",
					async: false,
					data : {email : email},
					success : function(code) {
						emailCode = code;
					},
					error : function(jqXHR, textStatus, errorThrown) {
						console.log("ERROR : " + textStatus + " : " + errorThrown);
					}
				})
				return emailCode;
			}
			
			/* 닉네임 중복 확인 함수 */
			function nicknameCheck(nickname) {
				
				$.ajax({
					url : "/users/nicknameCheck",
					type : "POST",
					data : {nickname : nickname},
					success : function(check) {
						if(check == 0) {
							$(".nickname_warn").css('color', '#7286D3');
							$(".nickname_warn").text("사용 가능한 닉네임입니다.");
							$("#nickname").css('border', '2px solid #7286D3');
							nicknamePass = true;
						} else if(check == 1) {
							$(".nickname_warn").css('color', '#D3728E');
							$(".nickname_warn").text("이미 사용중인 닉네임입니다.");
							$("#nickname").css('border', '2px solid #D3728E');
							nicknamePass = false;
						} else {
							$(".nickname_warn").css('color', '#D3728E');
							$(".nickname_warn").text("2자 이상 10자 이하로 입력해주세요.");
							$("#nickname").css('border', '2px solid #D3728E');
							nicknamePass = false;
						}
					},
					error : function(jqXHR, textStatus, errorThrown) {
						console.log("ERROR : " + textStatus + " : " + errorThrown);
					}
				});
			}
			
			/* 비밀번호와 비밀번호 확인 일치 여부 */
			function passwordMatch(password, passwordCheck) {
				if(password == passwordCheck) {
					$(".passwordCheck_warn").css('color', '#7286D3');
					$(".passwordCheck_warn").text("비밀번호가 일치합니다.");
					$("#passwordCheck").css('border', '2px solid #7286D3');
					pwCheckPass = true;
				} else {
					$(".passwordCheck_warn").css('color', '#D3728E');
					$(".passwordCheck_warn").text("비밀번호가 일치하지 않습니다.");
					$("#passwordCheck").css('border', '2px solid #D3728E');
					pwCheckPass = false;
				}
			}
			
			/* 비밀번호 유효성 검사 */
			function passwordReg(password) {
				var pwReg = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[~!-@#$%^&*+|=])[A-Za-z\d~!-@#$%^&*+|=]{6,20}$/;
				
				if(pwReg.test(password)){
					$(".password_warn").css('color', '#7286D3');
					$(".password_warn").text("사용 가능한 비밀번호입니다.");
					$("#password").css('border', '2px solid #7286D3');
					pwPass = true;
				} else {
					$(".password_warn").css('color', '#D3728E');
					$(".password_warn").text("영문, 숫자, 특수문자를 포함한 8 ~ 20자의 비밀번호를 입력해주세요.");
					$("#password").css('border', '2px solid #D3728E');
					pwPass = false;
				}
			}

		
		</script>
	</body>
</html>