<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Insert title here</title>
		<link rel="stylesheet" th:href="@{/css/user.css}">
		<th:block th:replace="fragments/config :: configFragment"></th:block>
	</head>
<body>
	<div id="trip_wrap">
		<div class="frame">
			<div th:replace="fragments/header :: menu"></div>
			<h2 th:text="${#authentication.principal.user.id}"></h2>
			<a th:href="@{/users/edit/{id}(id=${#authentication.principal.user.id})}" sec:authorize="isAuthenticated()">
				<span>내정보 수정</span>
			</a>	
		</div>
	</div>
</body>
</html>