<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Insert title here</title>
		<link rel="stylesheet" th:href="@{/css/user.css}">
		<th:block th:replace="fragments/config :: configFragment"></th:block>
	</head>
	<body>
		<div id="trip_wrap">
			<div class="frame">
				<div th:replace="fragments/header :: menu"></div>
				<section class="edit_contents">
					<div class="edit_lists">
						<h3>내 정보</h3>
						<div>
							<a th:href="@{/users/edit/{id}(id=${#authentication.principal.id})}">회원정보 수정</a>
							<a th:href="@{/users/edit/password/{id}(id=${#authentication.principal.id})}" style="font-weight: 500">비밀번호 변경</a>
							<a th:href="@{/users/delete/{id}(id=${#authentication.principal.id})}">회원 탈퇴</a>
						</div>
					</div>
					<div class="edit_input_area">
						<h1>비밀번호 변경</h1>
						<div th:text="${#authentication.principal.id}" style="display: none;" id="user_id"></div>
						<form th:action="@{/users/edit/}" th:method="put" id="edit_form">
							<div class="edit_input pw_input">
								<div class="edit">
									<div class="input_label">이전 비밀번호</div>
									<label for="prevPassword">
										<input type="password" name="prevPassword" id="prevPassword" class="input">
										<div class="edit_warn prevPw_warn"></div>
									</label>
								</div>
								<div class="edit">
									<div class="input_label">새 비밀번호</div>
									<label for="password">
										<input type="password" name="password" id="password" class="input">
										<div class="edit_warn newPw_warn"></div>
									</label>
								</div>
								<div class="edit">
									<div class="input_label">새 비밀번호 확인</div>
									<label for="newPasswordCheck">
										<input type="password" name="newPasswordCheck" id="newPasswordCheck" class="input">
										<div class="edit_warn newPwCheck_warn"></div>
									</label>
								</div>	
							</div>
						<button class="pwChange_btn" type="button">비밀번호 변경</button>
						</form>
					</div>
				</section>
			</div>
		</div>
		<script th:inline="javascript">
			var pwPass = false;
			var pwCheckPass = false;
			
			$("#password").on("propertychange change keyup paste input", function() {	
				var password = $("#password").val();
				var passwordCheck = $("#newPasswordCheck").val();
				
				if(password.length == 0) {	
					$("#password").css('border', '2px solid #C4DFFF');
					$(".newPw_warn").text("");
					pwPass = false;
				} else {		
					passwordReg(password);
					if(passwordCheck.length != 0) {
						passwordMatch(password, passwordCheck);
					}
				}
				
			})
			
			$("#newPasswordCheck").on("propertychange change keyup paste input", function() {
				var password = $("#password").val();
				var passwordCheck = $("#newPasswordCheck").val();
				
				if(passwordCheck.length == 0) {
					$("#newPasswordCheck").css('border', '2px solid #C4DFFF');
					$(".newPwCheck_warn").text("");
					pwCheckPass = false;
				} else {
					passwordMatch(password, passwordCheck);
				}
				
			})
			
			$("#password").on("blur", function() {	
				var password = $("#password").val();
				
				if(password.length == 0) {	
					$("#password").css('border', '2px solid #D9D9D9');
					pwPass = false;
				} 
			})
			
			$("#newPasswordCheck").on("blur", function() {	
				var password = $("#newPasswordCheck").val();
				
				if(password.length == 0) {	
					$("#newPasswordCheck").css('border', '2px solid #D9D9D9');
					pwCheckPass = false;
				} 
			})
			
			var id = /*[[${#authentication.principal.user.id}]]*/
			
			$(".pwChange_btn").on("click", function() {
				var prevPw = $("#prevPassword").val();
				var password = $("#password").val();
				var passwordCheck = $("#newPasswordCheck").val();
				
				if(pwPass && pwCheckPass && prevPw.length != 0) {
					console.log("통과");
					pwChange(prevPw, password);
				}
			})
			
			
			function pwChange (prevPw, password) {
				$.ajax({
					url : "/users/edit/password/"+id,
					type : "POST",
					data : {prevPassword : prevPw,
							password : password},
					success : function(check) {
						if(check == 0) {
							alert("비밀번호가 변경되었습니다.");
						} else if (check == 1){
							alert("비밀번호 변경에 실패하였습니다.");
						} else {
							alert("현재 비밀번호로는 변경이 불가능합니다.");
						}
						location.reload();
					}
				})
			}
			
			function passwordReg(password) {
				var pwReg = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[~!-@#$%^&*+|=])[A-Za-z\d~!-@#$%^&*+|=]{6,20}$/;
				
				if(pwReg.test(password)){
					$(".newPw_warn").css('color', '#7286D3');
					$(".newPw_warn").text("사용 가능한 비밀번호입니다.");
					$("#password").css('border', '2px solid #7286D3');
					pwPass = true;
				} else {
					$(".newPw_warn").css('color', '#D3728E');
					$(".newPw_warn").text("영문, 숫자, 특수문자를 포함한 8 ~ 20자의 비밀번호를 입력해주세요.");
					$("#password").css('border', '2px solid #D3728E');
					pwPass = false;
				}
			}
			
			function passwordMatch(password, passwordCheck) {
				
				if(password == passwordCheck) {
					$(".newPwCheck_warn").css('color', '#7286D3');
					$(".newPwCheck_warn").text("비밀번호가 일치합니다.");
					$("#newPasswordCheck").css('border', '2px solid #7286D3');
					pwCheckPass = true;
				} else {
					$(".newPwCheck_warn").css('color', '#D3728E');
					$(".newPwCheck_warn").text("비밀번호가 일치하지 않습니다.");
					$("#newPasswordCheck").css('border', '2px solid #D3728E');
					pwCheckPass = false;
				}
			}
		
		</script>
	</body>
</html>