<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Insert title here</title>
		<link rel="stylesheet" th:href="@{/css/user.css}">
		<th:block th:replace="fragments/config :: configFragment"></th:block>
	</head>
	<body>
		<div>
			<div id="trip_wrap">
				<div class="frame">
					<div class="logo_contents">
						<div class="contents">
							<div class="logo" th:onclick="'location.href=\''+ @{/} + '\''">
								<img alt="" th:src="@{/icons/logo_icon.png}" />
							</div>
						</div>
					</div>
					<div class="join_contents">
						<div class="contents">
							<div class="join_text">
								<h2>비밀번호 찾기</h2>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/js/user.js}"></script>
	</body>
</html>