<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Insert title here</title>
		<link rel="stylesheet" th:href="@{/css/user.css}">
		<th:block th:replace="fragments/config :: configFragment"></th:block>
	</head>
	<body>
		<div>
			<div id="trip_wrap">
				<div class="frame">
					<div class="logo_contents">
						<div class="contents">
							<div class="logo" th:onclick="'location.href=\''+ @{/} + '\''">
								<img alt="" th:src="@{/icons/logo_icon.png}" />
							</div>
						</div>
					</div>
					<div class="tempPw_contents">
						<div class="contents">
							<div class="tempPw_text">
								<h2>비밀번호 찾기</h2>
							</div>
							<div class="email_input">
								<h3>가입한 이메일 주소를 입력해주세요.</h3>
								<form th:action="@{/send-mail/password}" class="tempPw_form" method="post">
									<input type="email" name="email" id="email">
									<div class="email_warn" style="display: none;">존재하지 않는 이메일입니다. 다시 한번 확인해 주세요.</div>
									<button class="tempPw_btn" type="button">이메일로 임시 비밀번호 받기</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script  th:inline="javascript">
			$(".tempPw_btn").on("click", function() {
				var email = $("#email").val();
				emailCheck(email);
			})
			
		
			/* 이메일 중복 확인 함수 */
			function emailCheck(email) {
				$.ajax({
					url : "/users/emailCheck",
					type : "POST",
					data : {email : email},
					success : function(check) {
						if(check == 1) {
							$(".tempPw_form").submit();
						} else {
							$(".email_warn").show();
						} 
					},
					error : function(jqXHR, textStatus, errorThrown) {
						console.log("ERROR : " + textStatus + " : " + errorThrown);
					}
				});
			}
		</script>
	</body>
</html>