<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<body>
		<div class="header" th:fragment ="menu">
			<div class="header_content">
				<div class="contents">
					<div class="logo" th:onclick="'location.href=\''+ @{/} + '\''">
						<img alt="" th:src="@{/icons/logo_icon.png}" />
					</div>
					<div class="userInfo">
						<a th:href="@{/users/login}" sec:authorize="isAnonymous()">
							<span>로그인</span>
						</a>
						<a th:href="@{/users/logout}" sec:authorize="isAuthenticated()">
							<span>로그아웃</span>
						</a>				
						<a th:href="@{/users/join}" sec:authorize="isAnonymous()">
							<span>회원가입</span>
						</a>				
						<a th:href="@{/users/{id}(id=${session.user.getId()})}" sec:authorize="isAuthenticated()">
							<span>내정보</span>
						</a>	
						<a th:href="@{/users/login}">
							<span>고객센터</span>
						</a>					
					</div>
				</div>
		    </div>
		    <div class="nav">
			    <div class="contents">
				    <div class="nav_menu">
				        <a th:href="@{/users/login}">여행장소</a>
				        <a th:href="@{/diary}">여행일기</a>
				        <a th:href="@{/users/login}">여행일정</a>
				        <a th:href="@{/users/login}">예약하기</a>
				        <a th:href="@{/users/login}">이벤트</a>
				        <div class="totalSearch">
					        <label for="totalSearch">
					        	<input type="text" id="header_keyword">
					        	<button>
					        		<img alt="" th:src="@{/icons/search.png}">
					        	</button>
					        </label>
				        </div>
				    </div>
		    	</div>
		    </div>
    	</div>
	</body>
</html>