@charset "UTF-8";

/* diary save page css start */
.diary_edit_contents {
	margin: 25px auto;
	width: 868px;
}

.diary_edit_contents .edit_text {
	padding-bottom: 11px;
	border-bottom: 1px solid #2F3438;
}

.diary_edit_contents .edit_text h2{
	font-size: 20px;
	font-weight: 500;
}

.diary_edit_contents .editor_title {
	height: 15px;
	width: 842px;
	margin: 11px 0 12px;
	padding: 11px 12px 10px;
	border: 1px solid #dddddd;
	font-size: 15px;
}

.diary_edit_contents .editor_hashtag {
	height: 15px;
	width: 842px;
	margin: 0 0 12px;
	padding: 11px 12px 10px;
	border: 1px solid #dddddd;
	font-size: 15px;
}

.diary_edit_contents .editor_title:focus {
	outline: none;
}

.diary_edit_contents .ck-editor__main {
	height: 466px;
}
			
.diary_edit_contents .ck-editor__editable {
	height: 100%;
	font-size: 15px;
	line-height: 20px;
}

.diary_edit_contents .ck-editor__editable strong {
	font-weight: bold;
}

.diary_edit_contents .ck-editor__editable i {
	font-style: italic;
}

.diary_edit_contents .edit_button {
	width: 73px;
	height: 40px;
	margin: 35px 0;
	font-size: 17px;
	font-weight: 600;
	color: #fff;
	background-color: #7286D3;
}

.diary_edit_contents .edit_button:disabled {
	background-color: #D9D9D9;
}

/* diary save page css end */
/* diary list page css start */

.trip-frame {
	width: 1136px;
	margin: 0 auto;
}

.pop_diary_section {
	margin-top: 25px;
}

.new_diary_section {
	margin-top: 71px;
}

.diary_section .diary_title{
	display: flex;
	box-sizing: border-box;
	position: relative;
	margin-bottom: 20px;
}

.diary_section .diary_title h3 {
	font-weight: 500;
	font-size: 20px;
	flex: 1 0 0px;
}

.diary_section .diary_title a {
	font-size: 14px;
	line-height: 20px;
}

.pop_diary_section .pop_diary_list {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 0 24px;
}

.pop_diary_section .pop_diary_list .pop_diary {
	height: 317px;
	width: 266px;
	cursor: pointer;
}

.pop_diary_section .pop_diary_list .pop_diary .pop_diary_img {
	width: 266px;
	height: 167px;
}

.pop_diary .pop_diary_area {
	padding: 7px 6px 11px;
}

.pop_diary_text {
	height: 99px;
}

.pop_diary .pop_diary_area .pop_diary_text h3 {
	font-size: 16px;
	font-weight: 500;
	margin-top: 5px;
	max-width: 254px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.diary_info_dch {
	margin: 7px 0;
	align-items: center;
	font-size: 12px;
	color: #80898F;
	display: flex;
	gap: 0 6px;
}

.diary_info_dch .diary_c .info_comment {
	margin-right: 3px;
}

.diary_info_dch .diary_h .info_hits {
	margin-right: 3px;
}

.diary_contents {
	margin: 5px 0 7px;
	align-items: center;
	font-size: 14px;
	line-height: 19px;	
}

.pop_diary_contents {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.diary_info_nl {
	align-items: center;
	font-size: 12px;
	display: flex;
}

.pop_diary_nl {
	justify-content: space-between;
}

.diary_info_nl .diary_nickname {
	display: flex;
}

.diary_info_nl .diary_like {
	display: flex;
}

.diary_info_nl .diary_nickname .img_area {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 3px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.diary_info_nl .diary_nickname .img_area img {
	position: absolute;
	height: 100%;
	width: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.diary_info_nl .diary_nickname .nickname {
	line-height: 24px;
}

.diary_info_nl .diary_like img {
	width: 15px;
	height: 12px;
	margin-right: 4px;
}

.new_diary_section .diary_list {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 25px 0;
	flex-direction: column;
}

.new_diary_section .diary_list .diary {
	height: 128px;
	width: 1136px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}

.new_diary_section .diary_list .diary .diary_img {
	width: 204px;
	height: 128px;
}

.new_diary_section .diary_list .diary .diary_area{
	padding: 4px 0px 7px 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 500px;
}

.new_diary_contents {
	height: 38px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin: 0;
}

.diary .diary_area .diary_text .diary_info_title {
	font-size: 16px;
	font-weight: 500;
}

.diary .diary_area .diary_text h3 {
	font-size: 16px;
	font-weight: 500;
	max-width: 250px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	height: 26px;
}

.diary .diary_area .diary_tdch {
	display: flex;
	gap: 0 15px;
}

.new_diary_nl {
	gap: 0 26px;
}

.diary .diary_area .diary_hashtag {
	align-items: center;
	font-size: 12px;
	width: 500px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.diary .diary_area .diary_hashtag span {
	margin-right: 4px;
}

.page {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

.page .pagination {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin-top: 20px;
}

.page .pagination li {
	display: inline;
	text-align: center;
}

.page .pagination a {
	float: left;
	display: block;
	font-size: 14px;
	text-decoration: none;
	padding: 5px 12px;
	line-height: 1.5;
}

.page .pagination .disabled {
	display: none;
}

.page .pagination .active {
	color: #7286D3;
	font-weight: 600;
}

.image img {
	display: block;
	margin: auto;
}

.contents_section {
	margin: 25px auto;
	width: 868px;
}

.contents_section div h3 {
	font-size: 22px;
	font-weight: 500;
}

.contents_section .diary_info {
	margin-top: 8px;
	display: flex;
	gap: 0 18px;
}

.contents_section .diary_info .diary_user{
	display: flex;
}

.contents_section .diary_info .img_area {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 8px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.contents_section .diary_info .img_area img {
	position: absolute;
	height: 100%;
	width: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.contents_section .diary_info .nickname {
	font-size: 15px;
	color: #2F3438;
	line-height: 36px;
}

.contents_section .diary_info .dch {
	align-items: center;
	font-size: 15px;
	color: #80898F;
	display: flex;
	gap: 0 6px;
}

.contents_section .diary_info span {
	line-height: 36px;
}

.contents_section .diary_contents {
	margin: 19px 0 24px;
}

.contents_section #diary_hashtag {
	display: flex;
	gap: 0 15px;
	padding-bottom: 25px;
	border-bottom: 1px solid #D9D9D9;
}

.contents_section #diary_hashtag span {
	font-size: 14px;
	color: #80898F;
}

.contents_section .diary_comment {
	margin-top: 25px;
}

.contents_section .diary_comment .comment_count{
	font-size: 15px;
}

.contents_section .diary_comment .comment_count span{
	margin-right: 6px;
}

.contents_section .diary_comment .comment_view {
	padding-top: 10px;
}

.contents_section .diary_comment .comment_view .list_comment>li {
	position: relative;
}

.contents_section .diary_comment .comment_view .comment{
	display: flex;
	box-sizing: border-box;
	width: 100%;
	padding: 19px 0 16px;
	position: relative;
}

.contents_section .diary_comment .comment_view .list_comment li .img_area {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 8px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.contents_section .diary_comment .comment_view .list_comment li .img_area img {
	position: absolute;
	height: 100%;
	width: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.contents_section .comment_view .list_comment li .comment_info {
	margin-top: -2px;
	vertical-align: top;
	max-width: 760px;
	font-size: 13px;
	word-break: break-all;
	line-height: 1.6;
}

.contents_section .comment_view .list_comment li .comment_info .profile_info {
	margin-top: -4px;
	margin-bottom: 2px;
}

.contents_section .comment_view .list_comment li .comment_info .txt_date {
	color: #80898F;
	font-size: 11px;
	vertical-align: middle;
	margin-left: 3px;
	outline: 0;
}

.contents_section .comment_view .list_comment li .comment_info .post {
	padding-top: 3px;
}

.contents_section .comment_view .list_comment li .comment_info .comment_more {
	position: absolute;
	top: 18px;
	right: 0;
}

.contents_section .comment_view .list_comment .reply_comment  {
	margin-top: -1px;
}

.reply_comment .comment {
	padding: 10px 0 14px 39px !important;
}

.reply_comment .comment_info {
	width: 729px;
}

.contents_section .diary_comment .comment_write {
	margin-top: 30px;
}

.contents_section .diary_comment .text_write {
	border: 1px solid #D9D9D9;
	background-color: #fff;
	padding: 12px 10px 10px 20px;
	border-radius: 2px;
}

.contents_section .diary_comment .box_textarea textarea {
	width: 100%;
	height: 86px;
	margin: -5px -5px 0;
	padding: 5px 5px 0;
	font-size: 13px;
	line-height: 1.6;
	resize: none;
	vertical-align: top;
	outline: none;
}

.contents_section .diary_comment .btn_group {
	display: flex;
	justify-content: flex-end;
}

.contents_section .diary_comment .btn_group .comfirm_button {
	background-color: #7286D3;
	color: #fff;
	border: 0 none;
	font-size: 13px;
	width: 54px;
	height: 34px;
	border-radius: 2px;
}

.contents_section .writer_btn {
	display: flex;
	justify-content: flex-end;
	padding-top: 20px;
	gap: 0 6px;
}

.contents_section .writer_btn a {
	font-size: 13px;
	border: 1px solid #D9D9D9;
	padding: 8px 14px;
}

.contents_section .writer_btn .delete {
	color: #D3728E;
}



