<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Insert title here</title>
		<link rel="stylesheet" th:href="@{/css/diary.css}">
		<th:block th:replace="fragments/config :: configFragment"></th:block>
	</head>
	<body>
		<div id="trip_wrap">
			<div class="frame">
				<div th:replace="fragments/header :: menu"></div>
					<div class="diary_edit_contents">
					<div class="edit_text">				
						<h2>일기 글쓰기</h2>
					</div>
					<!-- Create the editor container -->
					<form th:action="@{/diaries/update/{id}(id=${diary.id})}" th:object="${diaryDTO}"  th:method="put" id="diary_form">
						<input type="text" name="title" class="editor_title" th:value="${diary.title}">
						<input type="text" name="hashtag" class="editor_hashtag" th:value="${hashtag}">
						<textarea name="contents" id="editor_area" style="display: none;"></textarea>
						<div id="editor" th:utext="${diary.contents}"></div>
						<button class="edit_button" type="button" id="edit_button">등록</button>
					</form>
				</div>
			</div>
		</div>
	<script th:src="@{/js/ckeditor5/build/ckeditor.js}"></script>
	<script th:src="@{/js/editor.js}"></script>
	</body>
</html>